<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsq.code.mapper.UserMapper">

    <!-- 根据学号和密码查询是否存在该用户 -->
    <select id="selectByStudentIdAndPassword" resultType="com.wsq.code.entity.User">
        SELECT
         iuser.id AS id,
         iuser.student_id AS studentId,
         iuser.`password` AS `password`,
         iuser.`name` AS `name`,
         iuser.sex AS sex,
         iuser.telephone AS telephone,
         iuser.`language` AS `language`,
         iuser.job AS job,
         iuser.age AS age,
         iuser.role AS role
        FROM
            table_user AS iuser
        WHERE
            iuser.student_id = #{studentId}
        AND
            iuser.`password` = #{MD5Password}
        LIMIT 1;
    </select>
    <!-- 根据学号查询该用户是否存在 -->
    <select id="selectByStudentId" resultType="com.wsq.code.entity.User">
        SELECT
         iuser.id AS id,
         iuser.student_id AS studentId,
         iuser.`password` AS `password`,
         iuser.`name` AS `name`,
         iuser.sex AS sex,
         iuser.telephone AS telephone,
         iuser.`language` AS `language`,
         iuser.job AS job,
         iuser.age AS age,
         iuser.role AS role
        FROM
            table_user AS iuser
        WHERE
            iuser.student_id = #{studentId}
        LIMIT 1;
    </select>

    <!-- 通过学号获取个数 -->
    <select id="selectByStudentIdCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM table_user AS users WHERE users.student_id = #{studentId};
    </select>

    <!-- 管理员根据姓名查找用户并分页 -->
    <select id="selectUserByName" resultType="com.wsq.code.entity.User">
        SELECT * FROM table_user AS users WHERE users.name LIKE #{name}
    </select>

    <!-- 查看所有用户并分页 -->
    <select id="selectAllUser" resultType="com.wsq.code.entity.User">
        SELECT * FROM table_user AS users
    </select>
</mapper>
